<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="v.productivitytracker" android:versionName="1.0.1" android:installLocation="auto" android:versionCode="2">
	<uses-sdk android:targetSdkVersion="22" android:minSdkVersion="22" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:label="Productivity Tracker" android:icon="@drawable/Icon"></application>
</manifest>